name: Build/Publish on push

on:
  push:
    branches:
      - "*dev*"
      - "*master*"
      - "*main*"
      - "refs/tags/*"

jobs:
  job1:
    name: build_and_release
    runs-on: windows-latest

    env:
      configuration: Release
      Solution_Name: 1Remote.sln
      Main_Project: Ui/Ui.csproj

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: recursive

      # Install the .NET Core workload
      - name: Install .NET Core
        uses: actions/setup-dotnet@v2
        with:
          dotnet-version: 6.0.x

      # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v1.0.2

      # Restore the application to populate the obj folder with RuntimeIdentifiers
      - name: Restore the application
        run: msbuild $env:Solution_Name /t:Restore /p:Configuration=$env:Configuration

      # Publish the application
      - name: Publish the application
        run: dotnet publish $env:Main_Project -p:PublishProfile=./Ui/Properties/PublishProfiles/x64-single.file.application.zip.pubxml

      # upload to artifact
      - uses: actions/upload-artifact@v3
        with:
          name: 1Remote.zip
          path: Ui/bin/Release/net6.0-windows/publish/win-x64

      # zip
      - name: Easy Zip Files
        uses: vimtor/action-zip@v1
        with:
          files: Ui/bin/Release/net6.0-windows/publish/win-x64
          dest: 1Remote.zip

      # release
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: 1Remote.zip
          draft: false
          prerelease: true
